# Unity3D
ProtobufUnitySDK/[Ll]ibrary/
ProtobufUnitySDK/[Tt]emp/
ProtobufUnitySDK/[Oo]bj/
ProtobufUnitySDK/[Bb]uild/
ProtobufUnitySDK/[Bb]uilds/
ProtobufUnitySDK/[Ll]ogs/
ProtobufUnitySDK/[Mm]emoryCaptures/
ProtobufUnitySDK/[Aa]ssets/Plugins/Editor/JetBrains*
ProtobufUnitySDK/.vs/
ProtobufUnitySDK/.gradle/
ProtobufUnitySDK/ExportedObj/
ProtobufUnitySDK/.consulo/
ProtobufUnitySDK/*.csproj
ProtobufUnitySDK/*.unityproj
ProtobufUnitySDK/*.sln
ProtobufUnitySDK/*.suo
ProtobufUnitySDK/*.tmp
ProtobufUnitySDK/*.user
ProtobufUnitySDK/*.userprefs
ProtobufUnitySDK/*.pidb
ProtobufUnitySDK/*.booproj
ProtobufUnitySDK/*.svd
ProtobufUnitySDK/*.pdb
ProtobufUnitySDK/*.mdb
ProtobufUnitySDK/*.opendb
ProtobufUnitySDK/*.VC.db
ProtobufUnitySDK/*.pidb.meta
ProtobufUnitySDK/*.pdb.meta
ProtobufUnitySDK/*.mdb.meta
ProtobufUnitySDK/sysinfo.txt
ProtobufUnitySDK/*.apk
ProtobufUnitySDK/*.unitypackage
ProtobufUnitySDK/crashlytics-build.properties
ProtobufUnitySDK/.idea
ProtobufUnitySDK/UserSettings/EditorUserSettings.asset

# Unreal
ProtobufUnrealSDK/.vs/
ProtobufUnrealSDK/Binaries/
ProtobufUnrealSDK/Intermediate/
ProtobufUnrealSDK/Plugins/*/Binaries/*
ProtobufUnrealSDK/Build/
ProtobufUnrealSDK/Saved/
ProtobufUnrealSDK/DerivedDataCache/
ProtobufUnrealSDK/Plugins/GoogleProtobuf/Intermediate/
ProtobufUnrealSDK/*.sln

# ProtobufUpdater
ProtobufUpdater/win64
ProtobufUpdater/protobuf-*

# Others
.vs/
