# Unity3D
GoogleProtobufUnitySDK/[Ll]ibrary/
GoogleProtobufUnitySDK/[Tt]emp/
GoogleProtobufUnitySDK/[Oo]bj/
GoogleProtobufUnitySDK/[Bb]uild/
GoogleProtobufUnitySDK/[Bb]uilds/
GoogleProtobufUnitySDK/[Ll]ogs/
GoogleProtobufUnitySDK/[Mm]emoryCaptures/
GoogleProtobufUnitySDK/[Aa]ssets/Plugins/Editor/JetBrains*
GoogleProtobufUnitySDK/.vs/
GoogleProtobufUnitySDK/.gradle/
GoogleProtobufUnitySDK/ExportedObj/
GoogleProtobufUnitySDK/.consulo/
GoogleProtobufUnitySDK/*.csproj
GoogleProtobufUnitySDK/*.unityproj
GoogleProtobufUnitySDK/*.sln
GoogleProtobufUnitySDK/*.suo
GoogleProtobufUnitySDK/*.tmp
GoogleProtobufUnitySDK/*.user
GoogleProtobufUnitySDK/*.userprefs
GoogleProtobufUnitySDK/*.pidb
GoogleProtobufUnitySDK/*.booproj
GoogleProtobufUnitySDK/*.svd
GoogleProtobufUnitySDK/*.pdb
GoogleProtobufUnitySDK/*.mdb
GoogleProtobufUnitySDK/*.opendb
GoogleProtobufUnitySDK/*.VC.db
GoogleProtobufUnitySDK/*.pidb.meta
GoogleProtobufUnitySDK/*.pdb.meta
GoogleProtobufUnitySDK/*.mdb.meta
GoogleProtobufUnitySDK/sysinfo.txt
GoogleProtobufUnitySDK/*.apk
GoogleProtobufUnitySDK/*.unitypackage
GoogleProtobufUnitySDK/crashlytics-build.properties
GoogleProtobufUnitySDK/.idea
GoogleProtobufUnitySDK/UserSettings/EditorUserSettings.asset
